{% extends "base.html" %} {% block title %}Gramedia{% endblock %} {% block
content %}
<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="me-md-3 me-xl-5">
            <h2>Live Detection</h2>
            <p class="mb-md-0">Lokasi: {{ name }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <p id="img-name" class="card-title">Live Detection</p>
                <img class="img-responsive card-img" id="video-feed" src="/slideshow/{{ cctv_id }}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}